server:
  port: 9090

spring:
  application.name: issue-light-tracker

  datasource:
    url: jdbc:postgresql://localhost:5433/ilt_db
    username: ilt_user
    password: ilt_password
    driver-class-name: org.postgresql.Driver

mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: igathlete.ilt.model
